<div class="breadcrumb">Journals &gt;&gt; Economics &amp; Statistics &gt;&gt; <span class="active">Business &amp;
    Entrepreneurship Journal</span></div>
<div id="wrapper" class="clearfix" style="height: 605px;">
  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div class="container-fluid">
      <h1>Business &amp; Entrepreneurship Journal</h1>
      <div *ngIf="subID==0">
        <h3><strong>Aims and Scope</strong></h3>

        <p>Business &amp; Entrepreneurship Journal (BEJ) will publish original papers which contribute to the
          advancement
          of the field of entrepreneurship and the interface between management and entrepreneurship, as well as
          articles
          on business corporate strategy and government economic policy. On occasions, the journal will also feature
          case
          studies of successful firms or other cases having important practical implications. The journal will publish
          papers that show depth, rigour, originality and high standards of presentation. Submission of a paper will
          imply
          that it contains original unpublished work and is not being submitted for publication elsewhere.</p>

        <p>The following list is indicative, not exhaustive, of the topics within the scope of BEJ:</p>

        <p>Entrepreneurship theories and conceptualizations, Entrepreneurship research methods, Innovation and
          technology
          entrepreneurs, Family entrepreneurship, networks, teams and alliances, Venture capital and angel investor
          groups, Entrepreneurial communities, hubs, clusters and public policy,&nbsp;Social entrepreneurship,
          International and emerging market entrepreneurship, Corporate entrepreneurship, Law and entrepreneurship,
          Microeconomic analyses of economic development,&nbsp;Development planning and policy, Economic and social
          impacts of e-entrepreneurship and innovation, Business-to-Business and Marketing.</p>

        <pre><a href="http://citec.repec.org/s/2017/sptbusent.html">Impact Factor: 0.03 (RePEc)</a></pre>

        <div style="margin-top:32px;" class="issues">
          <h4 style="color:#646464;">Current Issue : Volume 8, Issue 2 (2019)</h4>
          <ul class="issues-list most-issues">

            <li><a href="journal_focus.asp?main_id=72&amp;Sub_id=IV&amp;Issue=1033199">Mapping Start-up Businesses and
                Analyzing the Perspectives of Establishing a Greek Healthcare Start-up Company</a>
              <span>Efstathios Kaloulis, Dimitrios Zarakovitis and Athina Lazakidou</span></li>

            <li><a href="journal_focus.asp?main_id=72&amp;Sub_id=IV&amp;Issue=1035167">The role of marketing strategy in
                a
                search for a better performance of organic producers’ organisations in Bulgaria</a>
              <span>Popova I. </span></li>

            <li><a href="journal_focus.asp?main_id=72&amp;Sub_id=IV&amp;Issue=1082399">The current state and prospects
                for
                the development of viticulture and winemaking in Greece</a>
              <span>Ch. Paschalidis, P. Zamanidis, L. Papakonstantinou, D. Petropoulos, St. Sotiropoulos, D. Taskos, G.
                Chamurliev and M. A. Ovchinnicov</span></li>

          </ul>
        </div>
      </div>
      <div *ngIf="subID==2">
        <p>
          <!-- scienpress1 -->
        </p>

        <h3><strong>Submission procedure</strong></h3>

        <p>Your paper should not have been previously published or be currently under consideration for publication any
          place else.<br>
          Manuscripts should be submitted electronically at:</p>

        <p><a
            href="http://scienpress.com/journal_focus.asp?main_id=72&amp;Sub_id=Manu">http://scienpress.com/journal_focus.asp?main_id=72&amp;Sub_id=Manu</a><br>
          <br>
          Please follow the instructions to upload the manuscript, along with any supporting material, and to enter or
          update your personal details. Manuscripts should be submitted as a single PDF or Doc files. Do not forget to
          embed all fonts when creating the PDF file and check whether the text, equations, tables, and graphs are
          displayed correctly when viewing the PDF file on another computer.<br>
          <br>
          In case you might have problems to&nbsp;submit the paper electronically, please send&nbsp;it to:&nbsp;<a
            href="mailto:bej@scienpress.com">bej@scienpress.com</a></p>

        <h3><strong>Manuscript Preparation</strong></h3>

        <p>To expedite the review process, please format the manuscript in ways as follow:<br>
          1. Prepare your manuscript as a single PDF or MS Word document. The file should include the complete text,
          references, tables and figures.<br>
          2. Manuscripts should be written in English and include a 100-250 word abstract.<br>
          3. All references should be numbered in square brackets in the text and listed in the REFERENCES section in
          the order they appear in the text, as shown below:<br>
          <br>
          Journal Articles:<br>
          [1]M. Kosowski, "Measuring and reducing energy consumption of network interfaces in hand-held devices," IEIE
          Transactions on Communications, vol. E80-B, no. 8, August 1999, pp. 1225-1231.<br>
          [2]F. Clarke, J. B. Evita and D. Ledask, "Piconet: Embedded mobile networking," IEEE Personal Communications
          Magazine, vol. 6, no. 3, October 2006, pp. 18-35.<br>
          <br>
          E-Journal Articles:<br>
          [3]S. M. Agarwel and A. Groverad, "Nucleotide Composition and Amino Acid Usage in AT-Rich Hyperthermophilic
          Species," Open Bioinformatics Journal, Vol. 1, 2004, pp. 18-39.
          http://www.bentham.org/open/tobioij/openaccess.htm</p>

        <p>Books:<br>
          [4]S. Verdu, "Multi-user detection," Cambridge University Press, 1998.</p>

        <p>Conference Proceedings:<br>
          [5] L. Claredou and J. Agrem, "Self-organizing distributed sensor networks," Proceedings SPE Conference
          Unattended Ground Sensor Technologies and Applications, vol. 328, Orlando, April 2003, pp. 239-247.</p>

        <h3><strong>Copyright</strong></h3>

        <p>Authors are requested to make sure that submitted article is neither published nor simultaneously submitted
          or accepted elsewhere for publication. The Scienpress Ltd as Publisher applies the <a
            href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution License</a> (CCAL) to all
          works we publish. Under the CCAL, authors retain ownership of the copyright for their article, but authors
          allow anyone to download, reuse, reprint, modify, distribute, and/or copy articles in Scienpress Ltd journals,
          so long as the original authors and source are cited. No permission is required from the authors or the
          publishers.This broad license was developed to facilitate open access to, and free use of, original works of
          all types. Applying this standard license to your own work will ensure your right to make your work freely and
          openly available.</p>

        <h3><strong>Publication Ethics Statement</strong></h3>

        <p>Publication Ethics<br>
          Ethical standards for publication exist to ensure the quality of the scientific publications. All journals
          published by Scienpress Ltd are committed to publishing only original manuscripts and work that has neither
          been published elsewhere (nor is under review elsewhere). So, it is critical to avoid some specific ethical
          violations (like plagiarism, simultaneous submission, data fabrication, duplicate publication, improper author
          contribution, citation manipulation)</p>

        <p>1.Plagiarism<br>
          Plagiarism is deliberately using someone else’s &nbsp;ideas, or other original material without acknowledging
          its source and without refer to him/her. Copying even small part ( for example one sentence) from someone
          else’s manuscript, or even one of your own that has previously been published, without proper citation is
          considered plagiarism.</p>

        <p>2.Simultaneous Submission<br>
          Simultaneous submission occurs when a manuscript &nbsp;is submitted to a journal when it is already under
          consideration by another journal.</p>

        <p>3.Data Fabrication and Falsification<br>
          Data fabrication and falsification means the researcher did not actually do the study, but made up the results
          and had recorded or reported the fabricated information. Data falsification means the researcher did the
          experiment, but manipulated, changed, or omitted data or results from the research findings. This would lead
          to public distrust and less willing to provide funding support.</p>

        <p>4.Duplicate Publication<br>
          Duplicate publication occurs when two or more papers, without full cross referencing, share the same
          hypotheses, data &nbsp;and conclusions.</p>

        <p>5.Improper Author Contribution<br>
          All listed authors must have made a significant contribution to the research in the paper.</p>

        <p>6.Citation Manipulation<br>
          Citation Manipulation is including excessive citations, in the submitted manuscript, that do not contribute to
          the content of the article and have been included solely for the purpose of increasing citations to a given
          author’s work, or to articles published in a particular journal.</p>


        <table class="table">
          <tbody>
            <tr>
              <td>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
      <div *ngIf="subID==3">
        <p>
          <!-- scienpress1 -->
        </p>

        <p><strong>The articles of Business &amp; Entrepreneurship Journal are indexed / reviewed in the following
            databases/resources:</strong></p>

        <p><strong>Indexing &amp; Abstracting Services</strong></p>

        <pre>• <a href="http://scholar.cnki.net/" target="">CNKI Scholar
          </a>• <a href="http://copac.jisc.ac.uk/search?pub=scienpress&amp;title=Business%20%26%20Entrepreneurship%20Journal&amp;rn=1">Copac</a>
          • <a href="http://econpapers.repec.org/article/sptbusent/" target="">EconPapers (RePEc)</a>
          • <a href="http://journalseek.net/cgi-bin/journalseek/journalsearch.cgi?field=issn&amp;query=2241-3022" target="">Genamics JournalSeek</a>
          • <a href="https://scholar.google.gr/" target="">Google Scholar</a>
          • <a href="https://ideas.repec.org/s/spt/busent.html">IDEAS (RePEc)</a>
          • <a href="http://www.journaltocs.ac.uk/index.php?action=browse&amp;subAction=pub&amp;publisherID=2303&amp;journalID=28560&amp;pageb=1&amp;userQueryID=&amp;sort=&amp;local_page=1&amp;sorType=&amp;sorCol=1">JournalTOCs </a>
          • <a href="http://www.sherpa.ac.uk/romeo/search.php?source=journal&amp;sourceid=28814&amp;la=en&amp;fIDnum=|&amp;mode=simple" target="">Sherpa/Romeo</a></pre>

        <p>&nbsp;</p>


        <table class="table">
          <tbody>
            <tr>
              <td>



              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="subID==4">
        <p>
          <!-- scienpress1 -->
        </p>

        <h3><strong>Editorial Board</strong></h3>

        <p><strong>Claude Alavoine,</strong>&nbsp;IPAG Business School, France</p>

        <p><strong>Javier Aguilera Caracuel,</strong>&nbsp;Universidad de Granada, Spain</p>

        <p><strong>Christina Beneki,</strong>&nbsp;Technological Educational Institution of Ionian Islands, Greece</p>

        <p><strong>Daniela Bunea,</strong>&nbsp;Academy of Economic Studies, Romania</p>

        <p><strong>Antonino Buscemi,</strong>&nbsp;University of Tor Vergata, Italy</p>

        <p><strong>Bruno Eeckels,&nbsp;</strong>Les Roches-Gruyere, University of Applied Sciences, Switzerland</p>

        <p><strong>George Andrew&nbsp;</strong><strong>Gekas,</strong>&nbsp;Ryerson University, Canada</p>

        <p><strong>Hossein Hassani,</strong>&nbsp;University of Bournemouth, UK</p>

        <p><strong>Isabella Hatak,</strong>&nbsp;Vienna University of Economics and Business, Austria</p>

        <p><strong>Alfonso Herrero,</strong>&nbsp;Universidad Nacional de Educación a Distancia (UNED), Spain</p>

        <p><strong>Maurizio Rija</strong>, Department of Business Administration and Law, University of Calabria, Italy
        </p>

        <p><strong>Bashar Malkawi</strong>, University of Sharjah, UAE</p>

        <p><strong>Aleksandar Kešeljevič,</strong>&nbsp;University of Ljubljana, Slovenia</p>

        <p><strong>Irena Lacka,&nbsp;</strong>West Pomeranian University of Technology in Szczecin, Poland</p>

        <p><strong>Costas Leon,</strong>&nbsp;César Ritz Colleges, Switzerland</p>

        <p><strong>Rajmund Mirdala,</strong>&nbsp;Technical University of Kosice, Slovak Republic</p>

        <p><strong>Dimitrios Petropoulos</strong>,&nbsp;Technological Educational Institution of Peloponnese, Greece</p>

        <p><strong>Helena G. Popkova,</strong>&nbsp;Volgograd State Technical University, Russia</p>

        <p><strong>Antonella Silvestri,</strong>&nbsp;University of Calabria, Italy</p>

        <p><strong>Li Xiao,&nbsp;</strong>University of Exeter Business School, UK</p>

        <p><strong>Rick Edgeman,&nbsp;</strong>Aarhus University, Denmark</p>

        <p><strong>Vera Palea,</strong>&nbsp;University of Turin, Italy</p>

        <p><strong>Graziella Sicoli</strong>, University of Calabria, Italy</p>


        <table class="table">
          <tbody>
            <tr>
              <td>



              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div *ngIf="subID==5">
        <h3><strong>Publication Fees</strong></h3>

        <p>For&nbsp;<em>Business &amp; Entrepreneurship Journal&nbsp;</em>(ISSN: 2241-312X), authors are asked to pay a
          fee of&nbsp;<strong>150 USD</strong>&nbsp;per processed paper, but only if the article is accepted for
          publication in this journal after peer-review and possible revision of the manuscript.</p>

        <p><strong>Are Reprints of My Article Included In the Article Processing Charges (APCs)?</strong></p>

        <p>No. Article processing charges (APCs) do not entitle the authors to receive reprints of their published
          article. Reprints can be ordered separately and optionally for any article that has been published in an
          Scientific Press International&nbsp;Ltd&nbsp;journal. To request an offer for reprints of an article, please
          send an e-mail to:&nbsp;<a href="mailto:info@scienpress.com">info@scienpress.com</a></p>

        <p>&nbsp;</p>


        <table class="table">
          <tbody>
            <tr>
              <td>



              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="subID==6">
        <div *ngIf="volID==0&&issueID==0" class="issues">

          <h4>Issues</h4>

          <p>2019</p>
          <ul>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 8, Issue 2</a>

            </li>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 8, Issue 1</a>

            </li>

          </ul>

          <p>2018</p>
          <ul>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 7, Issue 2</a>

            </li>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 7, Issue 1</a>

            </li>

          </ul>

          <p>2017</p>
          <ul>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 6, Issue 2</a>

            </li>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 6, Issue 1</a>

            </li>

          </ul>

          <p>2016</p>
          <ul>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 5, Issue 2</a>

            </li>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 5, Issue 1</a>

            </li>

          </ul>

          <p>2015</p>
          <ul>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 4, Issue 2</a>

            </li>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 4, Issue 1</a>

            </li>

          </ul>

          <p>2014</p>
          <ul>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 3, Issue 2</a>

            </li>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 3, Issue 1</a>

            </li>

          </ul>

          <p>2013</p>
          <ul>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 2, Issue 2</a>

            </li>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 2, Issue 1</a>

            </li>

          </ul>

          <p>2012</p>
          <ul>

            <li>
              <a [routerLink]="['/journal',5,6,1]" class="link3">Volume 1, Issue 1</a>

            </li>

          </ul>

        </div>
        <div *ngIf="volID!=0" class="issues">
          <ul class="issues-list">
            <li>
              <span>Volume 10 - Issue 2 </span>&nbsp;
              <a href="http://www.scienpress.com/DB/RSS/56_410.xml"> <img src="/assets/images/rss16-16.jpg" width="16"
                  height="16" style="border:none"></a>
            </li>

            <li><a [routerLink]="['/journal',5,6,'issue',4]">Determinants of Corporate
                Dividend Policy under Hyperinflation and Dollarization by Firms in Zimbabwe</a>
              <span>S. Mbulawa, N. F. Okurut, M. M. Ntsosa and N. Sinha</span></li>

            <li><a [routerLink]="['/journal',5,6,'issue',4]">Performance and Cash Value of
                Taiwan Multinational Firms’ FDI in ASEAN</a>
              <span>Min-Lee Chan, Kannika Duangnate and Cho-Min Lin</span></li>

            <li><a [routerLink]="['/journal',5,6,'issue',4]">Mergers and Acquisitions and how
                they affect the Labor productivity. Evidence from the Greek Banking system</a>
              <span>Dr. Kyriazopoulos Georgios and Thanou Efthymia</span></li>

            <li><a [routerLink]="['/journal',5,6,'issue',4]">Political Connections, Financial
                Constraints and Long-term Growth </a>
              <span>Haoxiang Tong, Boya Yu, Jing Wu and Guanping Zhou</span></li>

            <li><a [routerLink]="['/journal',5,6,'issue',4]">The Analysis of Repayment of
                Default Bonds: Evidence from China </a>
              <span>Li Li</span></li>

            <li><a [routerLink]="['/journal',5,6,'issue',4]">The effect of corruption on stock
                market volatility</a>
              <span>Eleftherios Spyromitros</span></li>

            <li><a [routerLink]="['/journal',5,6,'issue',4]">Real estate prices, fiscal
                revenue and economic growth </a>
              <span>Xiaoyu Gao, Anjie Dong</span></li>

            <li><a [routerLink]="['/journal',5,6,'issue',4]">The Effects of Macroeconomic
                Variables and Company’s Financial Ratios on Stock Prices of Coal Mining Companies Listed in Indonesia
                Stock Exchange for the Period of 2013 - 2018</a>
              <span>Nidia Prastivini S. Sastralaga, Adler Haymans Manurung, Ferdinand D. Saragih and Benny
                Hutahayan</span></li>

            <li><a [routerLink]="['/journal',5,6,'issue',4]">An Empirical Analysis on the
                Impact of Higher Education on Income Inequality </a>
              <span>Xinhua Hui</span></li>

          </ul>
        </div>
        <div *ngIf="issueID!=0" class="issues">

          <h4>Mapping Start-up Businesses and Analyzing the Perspectives of Establishing a Greek Healthcare Start-up
            Company</h4>

          <ul style="border-bottom:none;">
            <li>
              <img src="/assets/images/pdf.jpg" alt="Pdf Icon">
              <a [routerLink]="['/download',1033199]" target="_new"><b>[ Download ]</b></a>
            </li>
            <li>Times downloaded: <b>243</b></li>
            <li>
              <p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
        text-align:center"><b><span style="line-height: 115%;">
                    <font style="" face="arial">
                      <font size="3">Abstract</font>
                      <font size="2">
                      </font>
                    </font>
                  </span></b></p>

              <p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
        text-align:center"><b><span style="line-height: 115%;">
                    <font size="2" face="arial">&nbsp;</font>
                  </span></b></p>

              <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:
        justify;tab-stops:63.8pt">
                <font size="2" face="arial"><span lang="EN-GB" style="line-height: 115%;">Entrepreneurship seems
                    to be taking strong action with ambitious researchers who dare to undertake
                    professional initiatives for the treatment of diseases, such as cancer, and any
                    kind of problems patients address today. After the analysis of the basic elements
                    regarding the development of start-up businesses, current trends in healthcare
                    are categorised and cases are in turn studied. The breakthroughs developed in
                    healthcare primarily regard technologies such as Artificial Intelligence, Neuroscience
                    Technology and Biotechnology, while Digital Health gains ground applied by
                    several start-up businesses worldwide. By surveying their data, useful
                    conclusions are drawn concerning the investment process of healthcare start-up
                    businesses. In the attempt of analysing the perspectives of establishing such
                    companies in Greece, the Greek healthcare start-ups are presented. Through an
                    empirical study at the Greek companies, Greek reality is thus documented and
                    data are presented in a plot. </span><span lang="EN-GB" style="line-height: 115%;">The
                    purpose of this paper is to analyse the perspectives of establishing a Greek
                    healthcare start-up company. The survey includes the significant components of
                    attracting potential investors and offers evidence-based to healthcare funding.
                    It also summarizes on the fundamental principles of forming a start-up company
                    that mainly concerns health sector.</span></font>
              </p>

              <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:
        justify"><span lang="EN-GB" style="line-height: 115%;">
                  <font size="2" face="arial">&nbsp;</font>
                </span></p>

              <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:
        justify">
                <font size="2" face="arial"><b><span style="line-height: 115%;">Keywords: </span></b><span
                    style="line-height: 115%;">Healthcare,
                  </span><span lang="EN-GB" style="line-height: 115%;">Biotechnology</span><span
                    style="line-height: 115%;">, </span><span lang="EN-GB" style="line-height: 115%;">Digital
                    Health</span></font><span style="line-height: 115%;">
                  <font size="2" style="" face="arial">, Innovation, Entrepreneurship, Start-up
                    Companies, Geographical Information Systems, Mapping.</font><span style='font-family: " times=""
                    new="" roman",="" serif;="" font-size:="" 12pt;"=""'>
                  </span>
                </span>
              </p>
            </li>
          </ul>

        </div>
      </div>
      <div *ngIf="subID==7">
        <p></p>

        <p>

          To submit your proposal, use the form below, attaching the electronic version of your paper in the Portable
          Document Format (.PDF) or Word Document files (.DOC) - no other formats will be accepted.
          Your submission will be acknowledged by an e-mail sent to the address provided below. (Please note that this
          address will be used in our entire electronic correspondence regarding your paper, so make sure it is valid
          and correct.)
        </p>
        <div class="submission">

          <div class="col-sm-12 col-md-10">
            <div id="toggleText" style="display:none;"></div>
            <form [formGroup]="articleForm" role="form" class="form-horizontal" id="frm1" enctype="multipart/form-data"
              accept-charset="utf-8">
              <div class="form-group">
                <div class="col-md-3"><label>First name * </label></div>
                <div class="col-md-9"><input type="text" formControlName="firstName" id="fname" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>Last name * </label></div>
                <div class="col-md-9"><input type="text" formControlName="lastName" id="lname" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>Co-authors</label></div>
                <div class="col-md-9"><input type="text" formControlName="coAuthors" id="coauthors"
                    class="form-control"></div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>Organisation</label></div>
                <div class="col-md-9"><input type="text" formControlName="organisation" id="organisation"
                    class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>Department</label></div>
                <div class="col-md-9"><input type="text" formControlName="department" id="department"
                    class="form-control"></div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>Street * </label></div>
                <div class="col-md-9"><input type="text" formControlName="street" id="street" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>ZIP/Post code * </label></div>
                <div class="col-md-9"><input type="text" formControlName="zip" id="zip" class="form-control"></div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>City * </label></div>
                <div class="col-md-9"><input type="text" formControlName="city" id="city" class="form-control"></div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>Country * </label></div>
                <div class="col-md-9">
                  <input type="hidden" id="country1" name="country1" value="">
                  <select formControlName="country" id="country" class="form-control">
                    <option value="00">please select...</option>
                    <option value="AF">AFGHANISTAN</option>
                    <option value="AX">LLAND ISLANDS</option>
                    <option value="AL">ALBANIA</option>
                    <option value="DZ">ALGERIA</option>
                    <option value="AS">AMERICAN SAMOA</option>
                    <option value="AD">ANDORRA</option>
                    <option value="AO">ANGOLA</option>
                    <option value="AI">ANGUILLA</option>
                    <option value="AQ">ANTARCTICA</option>
                    <option value="AG">ANTIGUA AND BARBUDA</option>
                    <option value="AR">ARGENTINA</option>
                    <option value="AM">ARMENIA</option>
                    <option value="AW">ARUBA</option>
                    <option value="AU">AUSTRALIA</option>
                    <option value="AT">AUSTRIA</option>
                    <option value="AZ">AZERBAIJAN</option>
                    <option value="BS">BAHAMAS</option>
                    <option value="BH">BAHRAIN</option>
                    <option value="BD">BANGLADESH</option>
                    <option value="BB">BARBADOS</option>
                    <option value="BY">BELARUS</option>
                    <option value="BE">BELGIUM</option>
                    <option value="BZ">BELIZE</option>
                    <option value="BJ">BENIN</option>
                    <option value="BM">BERMUDA</option>
                    <option value="BT">BHUTAN</option>
                    <option value="BO">BOLIVIA</option>
                    <option value="BA">BOSNIA AND HERZEGOVINA</option>
                    <option value="BW">BOTSWANA</option>
                    <option value="BV">BOUVET ISLAND</option>
                    <option value="BR">BRAZIL</option>
                    <option value="IO">BRITISH INDIAN OCEAN TERRITORY</option>
                    <option value="BN">BRUNEI DARUSSALAM</option>
                    <option value="BG">BULGARIA</option>
                    <option value="BF">BURKINA FASO</option>
                    <option value="BI">BURUNDI</option>
                    <option value="KH">CAMBODIA</option>
                    <option value="CM">CAMEROON</option>
                    <option value="CA">CANADA</option>
                    <option value="CV">CAPE VERDE</option>
                    <option value="KY">CAYMAN ISLANDS</option>
                    <option value="CF">CENTRAL AFRICAN REPUBLIC</option>
                    <option value="TD">CHAD</option>
                    <option value="CL">CHILE</option>
                    <option value="CN">CHINA</option>
                    <option value="CX">CHRISTMAS ISLAND</option>
                    <option value="CC">COCOS (KEELING) ISLANDS</option>
                    <option value="CO">COLOMBIA</option>
                    <option value="KM">COMOROS</option>
                    <option value="CG">CONGO</option>
                    <option value="CD">CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
                    <option value="CK">COOK ISLANDS</option>
                    <option value="CR">COSTA RICA</option>
                    <option value="CI">CοΏ½TE D'IVOIRE</option>
                    <option value="HR">CROATIA</option>
                    <option value="CU">CUBA</option>
                    <option value="CY">CYPRUS</option>
                    <option value="CZ">CZECH REPUBLIC</option>
                    <option value="DK">DENMARK</option>
                    <option value="DJ">DJIBOUTI</option>
                    <option value="DM">DOMINICA</option>
                    <option value="DO">DOMINICAN REPUBLIC</option>
                    <option value="EC">ECUADOR</option>
                    <option value="EG">EGYPT</option>
                    <option value="SV">EL SALVADOR</option>
                    <option value="GQ">EQUATORIAL GUINEA</option>
                    <option value="ER">ERITREA</option>
                    <option value="EE">ESTONIA</option>
                    <option value="ET">ETHIOPIA</option>
                    <option value="FK">FALKLAND ISLANDS (MALVINAS)</option>
                    <option value="FO">FAROE ISLANDS</option>
                    <option value="FJ">FIJI</option>
                    <option value="FI">FINLAND</option>
                    <option value="FR">FRANCE</option>
                    <option value="GF">FRENCH GUIANA</option>
                    <option value="PF">FRENCH POLYNESIA</option>
                    <option value="TF">FRENCH SOUTHERN TERRITORIES</option>
                    <option value="GA">GABON</option>
                    <option value="GM">GAMBIA</option>
                    <option value="GE">GEORGIA</option>
                    <option value="DE">GERMANY</option>
                    <option value="GH">GHANA</option>
                    <option value="GI">GIBRALTAR</option>
                    <option value="GR">GREECE</option>
                    <option value="GL">GREENLAND</option>
                    <option value="GD">GRENADA</option>
                    <option value="GP">GUADELOUPE</option>
                    <option value="GU">GUAM</option>
                    <option value="GT">GUATEMALA</option>
                    <option value="GG">GUERNSEY</option>
                    <option value="GN">GUINEA</option>
                    <option value="GW">GUINEA-BISSAU</option>
                    <option value="GY">GUYANA</option>
                    <option value="HT">HAITI</option>
                    <option value="HM">HEARD ISLAND AND MCDONALD ISLANDS</option>
                    <option value="VA">HOLY SEE (VATICAN CITY STATE)</option>
                    <option value="HN">HONDURAS</option>
                    <option value="HK">HONG KONG</option>
                    <option value="HU">HUNGARY</option>
                    <option value="IS">ICELAND</option>
                    <option value="IN">INDIA</option>
                    <option value="ID">INDONESIA</option>
                    <option value="IR">IRAN, ISLAMIC REPUBLIC OF</option>
                    <option value="IQ">IRAQ</option>
                    <option value="IE">IRELAND</option>
                    <option value="IM">ISLE OF MAN</option>
                    <option value="IL">ISRAEL</option>
                    <option value="IT">ITALY</option>
                    <option value="JM">JAMAICA</option>
                    <option value="JP">JAPAN</option>
                    <option value="JE">JERSEY</option>
                    <option value="JO">JORDAN</option>
                    <option value="KZ">KAZAKHSTAN</option>
                    <option value="KE">KENYA</option>
                    <option value="KI">KIRIBATI</option>
                    <option value="KP">KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF</option>
                    <option value="KR">KOREA, REPUBLIC OF</option>
                    <option value="KW">KUWAIT</option>
                    <option value="KG">KYRGYZSTAN</option>
                    <option value="LA">LAO PEOPLE'S DEMOCRATIC REPUBLIC</option>
                    <option value="LV">LATVIA</option>
                    <option value="LB">LEBANON</option>
                    <option value="LS">LESOTHO</option>
                    <option value="LR">LIBERIA</option>
                    <option value="LY">LIBYAN ARAB JAMAHIRIYA</option>
                    <option value="LI">LIECHTENSTEIN</option>
                    <option value="LT">LITHUANIA</option>
                    <option value="LU">LUXEMBOURG</option>
                    <option value="MO">MACAO</option>
                    <option value="MK">MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
                    <option value="MG">MADAGASCAR</option>
                    <option value="MW">MALAWI</option>
                    <option value="MY">MALAYSIA</option>
                    <option value="MV">MALDIVES</option>
                    <option value="ML">MALI</option>
                    <option value="MT">MALTA</option>
                    <option value="MH">MARSHALL ISLANDS</option>
                    <option value="MQ">MARTINIQUE</option>
                    <option value="MR">MAURITANIA</option>
                    <option value="MU">MAURITIUS</option>
                    <option value="YT">MAYOTTE</option>
                    <option value="MX">MEXICO</option>
                    <option value="FM">MICRONESIA, FEDERATED STATES OF</option>
                    <option value="MD">MOLDOVA, REPUBLIC OF</option>
                    <option value="MC">MONACO</option>
                    <option value="MN">MONGOLIA</option>
                    <option value="ME">MONTENEGRO</option>
                    <option value="MS">MONTSERRAT</option>
                    <option value="MA">MOROCCO</option>
                    <option value="MZ">MOZAMBIQUE</option>
                    <option value="MM">MYANMAR</option>
                    <option value="NA">NAMIBIA</option>
                    <option value="NR">NAURU</option>
                    <option value="NP">NEPAL</option>
                    <option value="NL">NETHERLANDS</option>
                    <option value="AN">NETHERLANDS ANTILLES</option>
                    <option value="NC">NEW CALEDONIA</option>
                    <option value="NZ">NEW ZEALAND&gt;</option>
                    <option value="NI">NICARAGUA</option>
                    <option value="NE">NIGER</option>
                    <option value="NG">NIGERIA</option>
                    <option value="NU">NIUE</option>
                    <option value="NF">NORFOLK ISLAND</option>
                    <option value="MP">NORTHERN MARIANA ISLANDS</option>
                    <option value="NO">NORWAY</option>
                    <option value="OM">OMAN</option>
                    <option value="PK">PAKISTAN</option>
                    <option value="PW">PALAU</option>
                    <option value="PS">PALESTINIAN TERRITORY, OCCUPIED</option>
                    <option value="PA">PANAMA</option>
                    <option value="PG">PAPUA NEW GUINEA</option>
                    <option value="PY">PARAGUAY</option>
                    <option value="PE">PERU</option>
                    <option value="PH">PHILIPPINES</option>
                    <option value="PN">PITCAIRN</option>
                    <option value="PL">POLAND</option>
                    <option value="PT">PORTUGAL</option>
                    <option value="PR">PUERTO RICO</option>
                    <option value="QA">QATAR</option>
                    <option value="RE">REUNION</option>
                    <option value="RO">ROMANIA</option>
                    <option value="RU">RUSSIAN FEDERATION</option>
                    <option value="RW">RWANDA</option>
                    <option value="BL">SAINT BARTHοΏ½LEMY</option>
                    <option value="SH">SAINT HELENA</option>
                    <option value="KN">SAINT KITTS AND NEVIS</option>
                    <option value="LC">SAINT LUCIA</option>
                    <option value="MF">SAINT MARTIN</option>
                    <option value="PM">SAINT PIERRE AND MIQUELON</option>
                    <option value="VC">SAINT VINCENT AND THE GRENADINES</option>
                    <option value="WS">SAMOA</option>
                    <option value="SM">SAN MARINO</option>
                    <option value="ST">SAO TOME AND PRINCIPE</option>
                    <option value="SA">SAUDI ARABIA</option>
                    <option value="SN">SENEGAL</option>
                    <option value="RS">SERBIA</option>
                    <option value="SC">SEYCHELLES</option>
                    <option value="SL">SIERRA LEONE</option>
                    <option value="SG">SINGAPORE</option>
                    <option value="SK">SLOVAKIA</option>
                    <option value="SI">SLOVENIA</option>
                    <option value="SB">SOLOMON ISLANDS</option>
                    <option value="SO">SOMALIA</option>
                    <option value="ZA">SOUTH AFRICA</option>
                    <option value="GS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS&nbsp;</option>
                    <option value="ES">SPAIN</option>
                    <option value="LK">SRI LANKA</option>
                    <option value="SD">SUDAN</option>
                    <option value="SR">SURINAME</option>
                    <option value="SJ">SVALBARD AND JAN MAYEN</option>
                    <option value="SZ">SWAZILAND</option>
                    <option value="SE">SWEDEN</option>
                    <option value="CH">SWITZERLAND</option>
                    <option value="SY">SYRIAN ARAB REPUBLIC</option>
                    <option value="TW">TAIWAN, PROVINCE OF CHINA</option>
                    <option value="TJ">TAJIKISTAN</option>
                    <option value="TZ">TANZANIA, UNITED REPUBLIC OF</option>
                    <option value="TH">THAILAND</option>
                    <option value="TL">TIMOR-LESTE</option>
                    <option value="TG">TOGO</option>
                    <option value="TK">TOKELAU</option>
                    <option value="TO">TONGA</option>
                    <option value="TT">TRINIDAD AND TOBAGO</option>
                    <option value="TN">TUNISIA</option>
                    <option value="TR">TURKEY</option>
                    <option value="TM">TURKMENISTAN</option>
                    <option value="TC">TURKS AND CAICOS ISLANDS</option>
                    <option value="TV">TUVALU</option>
                    <option value="UG">UGANDA</option>
                    <option value="UA">UKRAINE</option>
                    <option value="AE">UNITED ARAB EMIRATES</option>
                    <option value="GB">UNITED KINGDOM</option>
                    <option value="US">UNITED STATES</option>
                    <option value="UM">UNITED STATES MINOR OUTLYING ISLANDS</option>
                    <option value="UY">URUGUAY</option>
                    <option value="UZ">UZBEKISTAN</option>
                    <option value="VU">VANUATU</option>
                    <option value="VE">VENEZUELA</option>
                    <option value="VN">VIET NAM</option>
                    <option value="VG">VIRGIN ISLANDS, BRITISH</option>
                    <option value="VI">VIRGIN ISLANDS, U.S.</option>
                    <option value="WF">WALLIS AND FUTUNA</option>
                    <option value="EH">WESTERN SAHARA</option>
                    <option value="YE">YEMEN</option>
                    <option value="ZM">ZAMBIA</option>
                    <option value="ZW">ZIMBABWE</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>Phone </label></div>
                <div class="col-md-9"><input type="text" formControlName="phone" id="phone" class="form-control"></div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>Fax </label></div>
                <div class="col-md-9"><input type="text" formControlName="fax" id="fax" class="form-control"></div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>E-mail * </label></div>
                <div class="col-md-9"><input type="email" formControlName="email" id="em" class="form-control"></div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>Paper title * </label></div>
                <div class="col-md-9"><input type="text" formControlName="paperTitle" id="ptitle" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>Abstract * </label></div>
                <div class="col-md-9">
                  <textarea formControlName="abstract" id="abstract" class="form-control" rows="3"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3"><label>Attached file * </label></div>
                <div class="col-md-9">
                  <input type="file" (change)="onFileChange($event)" name="attach1" id="attach1">
                </div>
              </div>
              <div class="form-group text-center">
                <button class="btn btn-primary" id="submit" (click)="submit()" [disabled]="articleForm.invalid">Send form</button>
                <button class="btn btn-primary" id="reset">Clear form</button>
              </div>
              <input name="stage" value="enter_data" class="hide" type="hidden">
              <input name="MAX_FILE_SIZE" value="5242880" class="hide" type="hidden">
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="subID==8">
        <h3><strong>Publication Ethics</strong></h3>

        <p>Ethical standards for publication exist to ensure the quality of the scientific publications. All journals
          published by Scienpress Ltd are committed to publishing only original manuscripts and work that has neither
          been published elsewhere (nor is under review elsewhere). So, it is critical to avoid some specific ethical
          violations (like plagiarism, simultaneous submission, data fabrication, duplicate publication, improper author
          contribution, citation manipulation)</p>

        <p><strong>1. Plagiarism</strong><br>
          Plagiarism is deliberately using someone else’s &nbsp;ideas, or other original material without acknowledging
          its source and without refer to him/her. Copying even small part ( for example one sentence) from someone
          else’s manuscript, or even one of your own that has previously been published, without proper citation is
          considered plagiarism.</p>

        <p><strong>2. Simultaneous Submission</strong><br>
          Simultaneous submission occurs when a manuscript &nbsp;is submitted to a journal when it is already under
          consideration by another journal.</p>

        <p><strong>3. Data Fabrication and Falsification</strong><br>
          Data fabrication and falsification means the researcher did not actually do the study, but made up the results
          and had recorded or reported the fabricated information. Data falsification means the researcher did the
          experiment, but manipulated, changed, or omitted data or results from the research findings. This would lead
          to public distrust and less willing to provide funding support.</p>

        <p><strong>4. Duplicate Publication</strong><br>
          Duplicate publication occurs when two or more papers, without full cross referencing, share the same
          hypotheses, data &nbsp;and conclusions.</p>

        <p><strong>5. Improper Author Contribution</strong><br>
          All listed authors must have made a significant contribution to the research in the paper.</p>

        <p><strong>6. Citation Manipulation</strong><br>
          Citation Manipulation is including excessive citations, in the submitted manuscript, that do not contribute to
          the content of the article and have been included solely for the purpose of increasing citations to a given
          author’s work, or to articles published in a particular journal.</p>


        <table class="table">
          <tbody>
            <tr>
              <td>



              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="subID==9">
        <p><strong>Print Journal Subscription Price List</strong>&nbsp;- Find 2019&nbsp;prices for all the Journals of
          Scientific Press International Limited. All subscription rates are in USD&nbsp;and are worldwide for
          Scientific Press International Limited&nbsp;Journals. All Journals are open access and subscribers shall
          receive the print edition.</p>

        <table border="0" cellpadding="0">
          <thead>
            <tr>
              <th>
                <h3><strong>Journal Title</strong></h3>
              </th>
              <th>
                <h3><strong>e-ISSN</strong></h3>
              </th>
              <th>
                <h3><strong>ISSN</strong></h3>
              </th>
              <th>
                <h3><strong>2019 rate</strong></h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <pre>Advances in Management &amp; Applied Economics</pre>
              </td>
              <td>
                <pre>1792-7552</pre>
              </td>
              <td>
                <pre>1792-7544</pre>
              </td>
              <td>
                <pre>$500USD</pre>
              </td>
            </tr>
            <tr>
              <td>
                <pre>Business &amp; Entrepreneurship Journal</pre>
              </td>
              <td>
                <pre>2241-312X</pre>
              </td>
              <td>
                <pre>2241-3022</pre>
              </td>
              <td>
                <pre>$250USD</pre>
              </td>
            </tr>
            <tr>
              <td>
                <pre>Communications in Mathematical Finance</pre>
              </td>
              <td>
                <pre>2241- 1968</pre>
              </td>
              <td>
                <pre>2241-195X</pre>
              </td>
              <td>
                <pre>$250USD</pre>
              </td>
            </tr>
            <tr>
              <td>
                <pre>Journal of Applied Finance &amp; Banking</pre>
              </td>
              <td>
                <pre>1792-6599</pre>
              </td>
              <td>
                <pre>1792-6580</pre>
              </td>
              <td>
                <pre>$500USD</pre>
              </td>
            </tr>
            <tr>
              <td>
                <pre>Journal of Applied Mathematics &amp; Bioinformatics</pre>
              </td>
              <td>
                <pre>1792-6939</pre>
              </td>
              <td>
                <pre>1792-6602</pre>
              </td>
              <td>
                <pre>$400USD</pre>
              </td>
            </tr>
            <tr>
              <td>
                <pre>Journal of Applied Medical Sciences</pre>
              </td>
              <td>
                <pre>2241-2336</pre>
              </td>
              <td>
                <pre>2241-2328</pre>
              </td>
              <td>
                <pre>$450USD</pre>
              </td>
            </tr>
            <tr>
              <td>
                <pre>Journal of Computations &amp; Modelling</pre>
              </td>
              <td>
                <pre>1792-8850</pre>
              </td>
              <td>
                <pre>1792-7625</pre>
              </td>
              <td>
                <pre>$400USD</pre>
              </td>
            </tr>
            <tr>
              <td>
                <pre>Journal of Earth Sciences &amp; Geotechnical Engineering</pre>
              </td>
              <td>
                <pre>1792-9040</pre>
              </td>
              <td>
                <pre>1792-9660</pre>
              </td>
              <td>
                <pre>$450USD</pre>
              </td>
            </tr>
            <tr>
              <td>
                <pre>Journal of Finance &amp; Investment Analysis</pre>
              </td>
              <td>
                <pre>2241-0996</pre>
              </td>
              <td>
                <pre>2241-0988</pre>
              </td>
              <td>
                <pre>$400USD</pre>
              </td>
            </tr>
            <tr>
              <td>
                <pre>Journal of Statistical &amp; Econometric Methods</pre>
              </td>
              <td>
                <pre>2241-0376</pre>
              </td>
              <td>
                <pre>2241-0384</pre>
              </td>
              <td>
                <pre>$400USD</pre>
              </td>
            </tr>
            <tr>
              <td>
                <pre>International Journal of Health Research and Innovation</pre>
              </td>
              <td>
                <pre>2051-5065</pre>
              </td>
              <td>
                <pre>2051-5057</pre>
              </td>
              <td>
                <pre>$250USD</pre>
              </td>
            </tr>
            <tr>
              <td>
                <pre>Theoretical Mathematics &amp; Applications</pre>
              </td>
              <td>
                <pre>1792-9687</pre>
              </td>
              <td>
                <pre>1792-9709</pre>
              </td>
              <td>
                <pre>$400USD</pre>
              </td>
            </tr>
            <tr>
              <td>
                <pre>Int. J. of Occupational Health &amp; Public Health Nursing</pre>
              </td>
              <td>
                <pre>2053-2377</pre>
              </td>
              <td>
                <pre>2053-2369</pre>
              </td>
              <td>
                <pre>$400USD</pre>
              </td>
            </tr>
          </tbody>
        </table>


        <table class="table">
          <tbody>
            <tr>
              <td>



              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div *ngIf="subID==10">
        <p><strong>Editorial Office</strong>:&nbsp;<a href="mailto:bej@scienpress.com">bej@scienpress.com</a></p>

        <p><strong>Postal Addresses</strong></p>

        <p>Scientific Press International Limited<br>
          11b Chevron Place, Ilam, Christchurch<br>
          8041, New Zealand</p>


        <table class="table">
          <tbody>
            <tr>
              <td>



              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <!-- /#page-content-wrapper -->
  <!-- left Sidebar -->
  <div id="leftbar-wrapper">
    <a href="javascript:" class="toggle_leftbar"><i class="fa fa-angle-double-right"></i></a>

    <div class="issue-img">
      <img src="http://www.scienpress.com/Upload/\\cover_BusinessEntrepreneurship.jpg" class="img-responsive">
    </div>
    <p>ISSN:2241-312X(Online)<br>2241-3022 (Print)</p>
    <ul>
      <li><a href="javascript:" class="i_year"><i class="fa fa-plus-square"></i> 2019</a>
        <ul>
          <li><a [routerLink]="['/journal',5,6,1]" routerLinkActive="router-link-active">Volume 8 Issue 2</a></li>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 8 Issue 1</a></li>
        </ul>
      </li>
      <li><a href="javascript:" class="i_year"><i class="fa fa-plus-square"></i> 2018</a>
        <ul>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 7 Issue 2</a></li>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 7 Issue 1</a></li>
        </ul>
      </li>
      <li><a href="javascript:" class="i_year"><i class="fa fa-plus-square"></i> 2017</a>
        <ul>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 6 Issue 2</a></li>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 6 Issue 1</a></li>
        </ul>
      </li>
      <li><a href="javascript:" class="i_year"><i class="fa fa-plus-square"></i> 2016</a>
        <ul>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 5 Issue 2</a></li>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 5 Issue 1</a></li>
        </ul>
      </li>
      <li><a href="javascript:" class="i_year"><i class="fa fa-plus-square"></i> 2015</a>
        <ul>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 4 Issue 2</a></li>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 4 Issue 1</a></li>
        </ul>
      </li>
      <li><a href="javascript:" class="i_year"><i class="fa fa-plus-square"></i> 2014</a>
        <ul>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 3 Issue 2</a></li>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 3 Issue 1</a></li>
        </ul>
      </li>
      <li><a href="javascript:" class="i_year"><i class="fa fa-plus-square"></i> 2013</a>
        <ul>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 2 Issue 2</a></li>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 2 Issue 1</a></li>
        </ul>
      </li>
      <li><a href="javascript:" class="i_year"><i class="fa fa-plus-square"></i> 2012</a>
        <ul>
          <li><a [routerLink]="['/journal',5,6,1]">Volume 1 Issue 1</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- /#left sidebar-wrapper -->
  <!-- right Sidebar -->
  <div id="rightbar-wrapper">
    <a href="javascript:" class="toggle_rightbar"><i class="fa fa-angle-double-left"></i></a>
    <ul class="sidebar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/journal',5]"
          routerLinkActive="router-link-active"> Journal Home </a></li>
      <li routerLinkActive="active"><a [routerLink]="['/journal',5,2]"> Instructions for Authors </a></li>
      <li routerLinkActive="active"><a [routerLink]="['/journal',5,3]"> Indexing &amp; Abstracting </a></li>
      <li routerLinkActive="active"><a [routerLink]="['/journal',5,4]"> Editorial Board </a></li>
      <li routerLinkActive="active"><a [routerLink]="['/journal',5,5]"> Publication Fees </a></li>
      <li routerLinkActive="active"><a [routerLink]="['/journal',5,6]"> Table of Contents </a></li>
      <li routerLinkActive="active"><a [routerLink]="['/journal',5,7]"> Submit an Article </a></li>
      <li routerLinkActive="active"><a [routerLink]="['/journal',5,8]"> Publication Ethics </a></li>
      <li routerLinkActive="active"><a [routerLink]="['/journal',5,9]"> Subscription Information </a></li>
      <li routerLinkActive="active"><a [routerLink]="['/journal',5,10]"> Contact Information </a></li>
    </ul>
  </div>
  <!-- /#right sidebar-wrapper -->
</div>
