<div class="page-content">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-9">
      <h2 class="notop-margin">Welcome to Scientific Press International Limited</h2>
      <p>Scientific Press International Limited provides free access to research information to the international
        community without financial, legal or technical barriers.</p>
      <p>All the journals from this organization will be freely distributed and available from multiple websites.
      </p>
      <p>Here you can find information about our editions: descriptions, full tables of contents, instructions to
        authors, online editions, articles in press. </p>
      <div class="legal_deposit row">
        <h3>Legal deposit</h3>
        <p>Under legislation, all publishers in New Zealand must deposit their publications with the National
          Librarian. This enables the National Library of New Zealand to collect, preserve, and make available the
          documentary heritage of New Zealand.</p>
        <a href="https://natlib.govt.nz/publishers-and-authors/legal-deposit" target="_blank"
          class="read-more">click here to read more</a>
      </div>
      <div class="clearfix"></div>

      <h2>Recently Published Articles</h2>
      <ul class="recent_articles">

        <li><a href="journal_focus285f.html?main_id=56&amp;Sub_id=IV&amp;Issue=944639">Housing Prices and Corporate
            Innovation in China</a>
          <span>Wenqing Zhao, Bing Lu and Jianyu Zhang</span></li>

        <li><a href="journal_focusf327.html?main_id=56&amp;Sub_id=IV&amp;Issue=942671">The impacts of Shadow banking
            system on economy. An empirical analysis</a>
          <span>Altaf Hussain, Jianbo Bao and Fanli</span></li>

        <li><a href="journal_focus301f.html?main_id=60&amp;Sub_id=IV&amp;Issue=921023">Three remarkable properties
            of the Normal distribution for sample variance</a>
          <span>Eric Benhamou, Beatrice Guez and Nicolas Paris</span></li>

        <li><a href="journal_focus0620.html?main_id=60&amp;Sub_id=IV&amp;Issue=922991">Gram Charlier and Edgeworth
            expansion for sample variance</a>
          <span>Eric Benhamou</span></li>

        <li><a href="journal_focus0778.html?main_id=55&amp;Sub_id=IV&amp;Issue=915119">Layoffs and economic crisis:
            a time series analysis on the Italian labor market</a>
          <span>Milena Lopreite and Sergio Bruni</span></li>

        <li><a href="journal_focusd516.html?main_id=58&amp;Sub_id=IV&amp;Issue=940703">InfraRed Search & Track
            Systems as an Anti-Stealth Approach</a>
          <span>George-Konstantinos Gaitanakis, Andreas Vlastaras, Nikolaos Vassos, George Limnaios and Konstantinos
            C. Zikidis</span></li>

        <li><a href="journal_focusa881.html?main_id=68&amp;Sub_id=IV&amp;Issue=891503">Forecasting the Unemployment
            of Med Counties using Time Series and Neural Network models</a>
          <span>Christos Katris</span></li>

        <li><a href="journal_focusf08d.html?main_id=69&amp;Sub_id=IV&amp;Issue=893471">Anatomy of Chinese Futures
            Markets</a>
          <span>Ahmet Goncu and Yurun Yang</span></li>

        <li><a href="journal_focusbdb9.html?main_id=57&amp;Sub_id=IV&amp;Issue=793103">On the structure of
            space-time and linear evolution equations</a>
          <span>Panagiotis N. Koumantos</span></li>

      </ul>
    </div>
    <div class="col-xs-12 col-sm-3">
      <table class="lib">
        <tr>
          <td><img src="/assets/images/natlib_logo_.png" /></td>
          <td>The National Library of New Zealand</td>
        </tr>
      </table>
      <h2>Shop Now</h2>
      <table class="shop_books">

        <tr>
          <td>

            <a href="books_focus1143.html?main_id=40">
              <img src="/assets/upload/Geological_cover.jpg" class="img-responsive">
            </a>

          </td>
          <td>
            <a href="books_focus1143.html?main_id=40">
              <p class="bold">Geological and Engineering investigations of the most dangerous dam in the world</p>
              <p>ISBN : 978-0-9934819</p>
            </a>
          </td>
        </tr>

        <tr>
          <td>

            <a href="books_focus10b1.html?main_id=41">
              <img src="/assets/upload/CreditRiskManagement.jpg" class="img-responsive">
            </a>

          </td>
          <td>
            <a href="books_focus10b1.html?main_id=41">
              <p class="bold">Credit Risk Management</p>
              <p>ISBN : 978-0-9934819-1-8</p>
            </a>
          </td>
        </tr>

        <tr>
          <td>

            <a href="books_focus2091.html?main_id=42">
              <img src="/assets/upload/CreditRiskManagement2019.jpg" class="img-responsive">
            </a>

          </td>
          <td>
            <a href="books_focus2091.html?main_id=42">
              <p class="bold">CREDIT RISK MANAGEMENT - ebook second version 2018 </p>
              <p>ISBN : 978-0-9934819-1-8</p>
            </a>
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>
