<div class="page-content">
  <div class="container-fluid">
    <h2 class="notop-margin">Books</h2>
    <table class="table books">

      <tr>
        <td class="book-img">

          <a [routerLink]="['/books',7]">
            <img src="/assets/upload/Geological_cover.jpg" class="img-responsive">
          </a>

        </td>
        <td class="book-info">
          <a [routerLink]="['/books',8]">Geological and Engineering investigations of the most dangerous dam
            in the world</a>
          <p>No. of pages : 109</p>
          <p>Editor : Nadhir Al-Ansari, Nasrat N. Adamo, Varoujan Sissakian, Sven Knutsson</p>
        </td>
      </tr>

      <tr>
        <td class="book-img">

          <a [routerLink]="['/books',8]">
            <img src="/assets/upload/CreditRiskManagement.jpg" class="img-responsive">
          </a>

        </td>
        <td class="book-info">
          <a [routerLink]="['/books',8]">Credit Risk Management</a>
          <p>No. of pages : 80</p>
          <p>Editor : Giulio Carlone</p>
        </td>
      </tr>

      <tr>
        <td class="book-img">

          <a [routerLink]="['/books',8]">
            <img src="/assets/upload/CreditRiskManagement2019.jpg" class="img-responsive">
          </a>

        </td>
        <td class="book-info">
          <a [routerLink]="['/books',8]">CREDIT RISK MANAGEMENT - ebook second version 2018 </a>
          <p>No. of pages : 138</p>
          <p>Editor : Giulio Carlone</p>
        </td>
      </tr>

    </table>
  </div>
</div>
