<div class="breadcrumb">Home &gt;&gt; <span class="active">Journals</span></div>
<div id="page-content-wrapper" class="journal_home">
  <div class="container-fluid">

    <h2>Journals</h2>

    <h3>Economics & Statistics</h3>
    <table class="table table-striped journal">
      <tbody>
        <tr>
          <td><a [routerLink]="['/journal',5]" class="link3">Business & Entrepreneurship Journal</a></td>
          <td class="rss"><a href="http://www.scienpress.com/DB/RSS/72_current.xml"><img
                src="/assets/images/rss16-16.jpg"></a>
          </td>
        </tr>

        <tr>
          <td><a [routerLink]="['/journal',5]" class="link3"> Advances in Management and Applied Economics </a>
          </td>
          <td class="rss"><a href="http://www.scienpress.com/DB/RSS/55_current.xml"><img
                src="/assets/images/rss16-16.jpg"></a>
          </td>
        </tr>

        <tr>
          <td><a [routerLink]="['/journal','5']" class="link3">Journal of Applied Finance & Banking</a></td>
          <td class="rss"><a href="http://www.scienpress.com/DB/RSS/56_current.xml"><img
                src="/assets/images/rss16-16.jpg"></a>
          </td>
        </tr>

        <tr>
          <td><a [routerLink]="['/journal','5']" class="link3">Journal of Statistical and Econometric Methods
            </a></td>
          <td class="rss"><a href="http://www.scienpress.com/DB/RSS/68_current.xml"><img
                src="/assets/images/rss16-16.jpg"></a>
          </td>
        </tr>

        <tr>
          <td><a [routerLink]="['/journal','5']" class="link3">Journal of Finance and Investment Analysis </a>
          </td>
          <td class="rss"><a href="http://www.scienpress.com/DB/RSS/69_current.xml"><img
                src="/assets/images/rss16-16.jpg"></a>
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Mathematics & Computers</h3>
    <table class="table table-striped journal">
      <tbody>
        <tr>
          <td><a [routerLink]="['/journal','5']" class="link3">Communications in Mathematical Finance</a></td>
          <td class="rss"><a href="http://www.scienpress.com/DB/RSS/70_current.xml"><img
                src="/assets/images/rss16-16.jpg"></a>
          </td>
        </tr>

        <tr>
          <td><a [routerLink]="['/journal','5']" class="link3">Journal of Applied Mathematics &
              Bioinformatics</a></td>
          <td class="rss"><a href="http://www.scienpress.com/DB/RSS/57_current.xml"><img
                src="/assets/images/rss16-16.jpg"></a>
          </td>
        </tr>

        <tr>
          <td><a [routerLink]="['/journal','5']" class="link3">Journal of Computations & Modelling</a></td>
          <td class="rss"><a href="http://www.scienpress.com/DB/RSS/58_current.xml"><img
                src="/assets/images/rss16-16.jpg"></a>
          </td>
        </tr>

        <tr>
          <td><a [routerLink]="['/journal','5']" class="link3">Theoretical Mathematics & Applications</a></td>
          <td class="rss"><a href="http://www.scienpress.com/DB/RSS/60_current.xml"><img
                src="/assets/images/rss16-16.jpg"></a>
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Earth Sciences</h3>
    <table class="table table-striped journal">
      <tbody>
        <tr>
          <td><a [routerLink]="['/journal',5]" class="link3">Journal of Earth Sciences and Geotechnical
              Engineering</a></td>
          <td class="rss"><a href="http://www.scienpress.com/DB/RSS/59_current.xml"><img
                src="/assets/images/rss16-16.jpg"></a>
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Health Sciences</h3>
    <table class="table table-striped journal">
      <tbody>
        <tr>
          <td><a [routerLink]="['/journal',5]" class="link3">Journal of Applied Medical Sciences</a></td>
          <td class="rss"><a href="http://www.scienpress.com/DB/RSS/71_current.xml"><img
                src="/assets/images/rss16-16.jpg"></a>
          </td>
        </tr>

        <tr>
          <td><a [routerLink]="['/journal',5]" class="link3">International Journal of Health Research and
              Innovation </a></td>
          <td class="rss"><a href="http://www.scienpress.com/DB/RSS/73_current.xml"><img
                src="/assets/images/rss16-16.jpg"></a>
          </td>
        </tr>

        <tr>
          <td><a [routerLink]="['/journal',5]" class="link3">International Journal Of Occupational Health and
              Public Health Nursing </a></td>
          <td class="rss"><a href="http://www.scienpress.com/DB/RSS/86_current.xml"><img
                src="/assets/images/rss16-16.jpg"></a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
