<div class="page-content">
  <div class="container-fluid">
    <!-- middle column -->
    <h2 class="notop-margin">About Us</h2>
    <p>Scientific Press International Limited is publisher of highest standards international scientific journals and
      books. Scientific Press International Limited established in 2010.</p>
    <p>Scientific Press International Limited realizes the meaning of fast publication to researchers, particularly to
      those working in competitive & dynamic fields. Hence, it offers an immediate peer-review by experts in the field
      and then publication in the next issue.</p>
    <p>Here you can find information about our editions: descriptions of Journals, full tables of contents, instructions
      to authors, editorial boards and online submission.</p>
    <p>Scientific Press International Limited provides open access to our editions as the readers can freely read,
      download and print the full text of the research articles, surveys, journals and books published by us.</p>
  </div>
</div>
