<div class="breadcrumb">Home &gt;&gt; <span class="active">FAQ</span></div>
<div class="page-content">
  <div class="container-fluid">
    <h2 class="notop-margin">Frequently Asked Questions</h2>
    <ul class="faqs">
      <li>
        <p class="question">Q1. Are your journals registered with ISSN?</p>
        <div class="answer">
          <p>All our journals are entitled by respective ISSN and E-ISSN codes.</p>
          <p>For more information please contact:</p>
          <p>
            ISSN National Centre for New Zealand<br />
            Country code: NZL<br />
            Centre code: G<br />

            New Zealand ISSN Centre<br />
            National Library of New Zealand<br />
            Te Puna Matauranga O Aotearoa<br />
            Cnr Molesworth & Aitken Streets<br />
            PO Box 1467<br />

            <br />
            Wellington 6140 <br />
            Tel: +64-4.474.3090 <br />

        </div>
      </li>
      <li>
        <p class="question">Q2. Is there a print version of the Scientific Press International Limited journal?</p>
        <div class="answer">
          <p>Yes, Scientific Press International Limited published both online and print version.</p>
        </div>
      </li>
      <li>
        <p class="question">Q3. How do I submit my paper to a Scientific Press International Limited journal?</p>
        <div class="answer">
          <p>All papers must be submitted through our online submission system. In case you might have problems to
            submit the paper electronically, please send it via e-mail. (Visit Author Guidelines)</p>
        </div>
      </li>
      <li>
        <p class="question">Q4. How long does the review process take?</p>
        <div class="answer">
          <p>The papers will be reviewed by two independent referees. The review will be send to you within 3-5 weeks
            after submission. Do not hesitate to contact us if you would like to know the status of your manuscript.</p>
        </div>
      </li>
      <li>
        <p class="question">Q5. What type of file format do you accept?</p>
        <div class="answer">
          <p>Papers in Word or PDF is the format for submitting your paper to our online submission system. After the
            acceptance of your paper, you can send your revised paper in MS Word or LaTex via email to us.</p>
        </div>
      </li>
      <li>
        <p class="question">Q6. Is there any publication fee charged for papers published in a Scientific Press
          International Limited journal?</p>
        <div class="answer">
          <p>Yes. (please look at publication fees)</p>
        </div>
      </li>
      <li>
        <p class="question">Q7. How do I pay the article processing charges to a Scientific Press International Limited
          journal?</p>
        <div class="answer">
          <p>We accept the following payment methods:<p>
              <p>1. Credit Card<br />
                2. Bank Transfer</p>
        </div>
      </li>
    </ul>
  </div>
</div>
