<div id="parent-content" class="container-fluid">
  <div class="clearfix">
    <!-- Page Content -->
    <div class="page-content">
      <div class="container-fluid">
        <a id="content" name="content"></a>
        <h1 id="empl_content_title">Specific privacy statement</h1>
        <p>Below is an explanation of how the European Commission's DG for Employment, Social Affairs &amp; Inclusion
          uses data obtained through on-line subscriptions to its newsletters, and how the confidentiality of such data
          is protected.</p>

        <h2>The what, how and why of data collection</h2>

        <p>The following data is obtained from the list of subscribers to our free newsletters: name, surname, e-mail
          address, area of activity, country, area of interest, periodicity preferred.<br>
          These data are gathered in order to compile mailing lists for the newsletters published by the European
          Commission's DG for Employment, Social Affairs &amp; Inclusion as part of its communication activities.<br>
          <br>
          The information is saved in a repository, checked to eliminate fictitious or incorrect data, and validated for
          future use.</p>

        <h2>Data controller</h2>

        <p>The controller of your personal data is the Unit "Communication" of DG for Employment, Social Affairs &amp;
          Inclusion. Please see below the "contact" section.</p>

        <h2>Access to the data</h2>

        <p>Authorised personnel of the Communication Unit of the European Commission's DG for Employment, Social Affairs
          &amp; Inclusion have access to the data collected and have sole authority to read and correct it in the event
          of input error.</p>

        <h2>Security measures</h2>

        <p>The repository is accessed on a need-to-know basis through personal access control on the file system and on
          electronic mailboxes.</p>

        <h2>Checking, changing or deleting data</h2>

        <p>You have the right to check, change or ask for deletion of your data. You can change your personal data via
          the subscription form itself. You can unsubscribe by selecting the related link at the bottom of the
          newsletter.</p>

        <h2>Period for which data are kept</h2>

        <p>Your personal data are used only for as long as it is needed for its intended purpose (i.e. to send the
          newsletters you have requested to you). After unsubscribing, they can be kept for other two years for possible
          administrative follow up purposes.</p>

        <h2>Contact address</h2>

        <p>You can also contact us by selecting the related "subject of your interest" in the contact form on the DG's
          internet site or mailing us at the following address:</p>

        <p>European Commission<br>
          DG Employment, Social Affairs &amp; Inclusion<br>
          Unit "Communication"<br>
          B-1049 Brussels<br>
          BELGIUM</p>

        <h2>Means of appeal</h2>

        <p>You may always lodge an appeal by the European Data Protection Supervisor.</p>
      </div>
    </div>
    <!-- /#page-content -->
  </div>
</div>
