<div class="footer clearfix">
  <div class="col-xs-12 col-md-6">
    <p>Scienpress.com Copyright &copy; 2019</p>
    <!--	<p>Scienpress Ltd is a Limited Liability company incorporated in<br>England and Wales with registered number 08159166.</p> -->
  </div>
  <div class="col-xs-12 col-md-6 text-right">
    <p> Scientific Press International Limited </p>
    <p>11b Chevron Place, Ilam, Christchurch<br>8041, New Zealand</p>
    <!--	<p>Secured Payment Transactions by: <img src="/assets/images/barclays.png"></p> -->
  </div>
</div>
